# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build and test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [11, 17]
    runs-on: ${{ matrix.os }}
    env:
      JDK_VERSION:  ${{ matrix.jdk }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'temurin'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Cache Gradle packages
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle

    - name: Test
      if: ${{ !(matrix.os == 'ubuntu-latest' && matrix.jdk == 11 && github.event_name == 'push') && matrix.os != 'windows-latest' }}
      run: ./gradlew check --stacktrace --no-daemon

    - name: Test-Windows
      if: ${{ matrix.os == 'windows-latest' }}
      run: ./gradlew check --stacktrace --no-daemon -x spotlessCheck

    - name: Archive test report - ${{ matrix.os }} JDK ${{ matrix.jdk }}
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: wiremock-grpc-extension-test-report-${{ matrix.os }} JDK ${{ matrix.jdk }}
        path: |
          build/reports/tests/test
          build/test-results/test

  gradle-scan:
    name: Snyk gradle scan
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Run Snyk to check build.gradle for vulnerabilities
        uses: snyk/actions/gradle-jdk11@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --severity-threshold=high --org=f310ee2f-5552-444d-84ee-ec8c44c33adb
